<%- include('./partials/head'); %>
<body>
    <section>
        <h2>Movie information</h2>
        <div class="description"><p>description</p>
            <%= filtermovie.description %>
        </div>
        <div class="director"><p>director</p>
            <%= filtermovie.director %>
        </div>
        <div class="release_date"><p>release date</p>
            <%= filtermovie.release_date %>
        </div>
    </section>
    <%- include('./partials/footer'); %>