<%- include('includes/partial/carousel/head') -%>

    <body>
        <%- include('includes/header') -%>
            <main>
                <%- include('includes/partial/carousel/banner') -%>
                    <section id="overview" class="app swiper-section">
                        <a class="go-back" href="/#overview">Go back</a>
                        <%- include('includes/partial/carousel/fill') -%>
                    </section>
            </main>
            <%- include('includes/footer') -%>
    </body>