<%- include('includes/partial/home/head') -%>

    <body>
        <%- include('includes/header') -%>
            <main>
                <%- include('includes/partial/home/banner') -%>
                    <%- include('includes/app') -%>
            </main>
            <%- include('includes/footer') -%>
    </body>

    </html>