<%- include('includes/head') -%>

    <body>
        <%- include('includes/header') -%>
            <main>
                <%- include('includes/banner') -%>
                    <%- include('includes/app') -%>
            </main>
            <%- include('includes/footer') -%>
                <%- include('includes/scripts') -%>
    </body>

    </html>